{% extends "base.html" %}
{% block title %}SSIS | STUDENT{% endblock title %}
{% block content %}

<!-- NAVIGATION -->
<div class="sidenav">
    <ul>
        <div class="nav-logo">
            <img src="{{ url_for('static', filename='images/Student-Info Logo.png') }}"> 
            <p>STUDENT INFORMATION SYSTEM</p>
        </div>
        <a href="{{ url_for('home') }}">
            <li class="icon-bg">
                <img src="{{ url_for('static', filename='images/Home.png') }}"> 
                <p>Home</p>
            </li>
        </a>  
        <a href="{{ url_for('courses') }}">
            <li class="icon-bg">
                <img src="{{ url_for('static', filename='images/Course.png') }}"> 
                <p>Course</p>
            </li>
        </a>
        <li class="selected-icon-bg">
            <img src="{{ url_for('static', filename='images/Student.png') }}"> 
            <p>Student</p>
        </li>
    </ul>
</div>

<div class="navbar add">
    <div class="back-icon">
        <a href="{{ url_for('students') }}">
            <img src="{{ url_for('static', filename='images/back-icon.png') }}">
        </a>
    </div>
    <p>EDIT STUDENT INFORMATION</p>
</div>

<!-- ADD STUDENT FORM -->
<form id = "student-form">
    <!-- NAME -->
    <div class="inputBox fname">
        <input type="text" required name="student_name" id="student_name">
        <span>NAME</span>
    </div>

    <!-- COURSE -->
    <div class="custom-select course">
        <select name="course_id" id="course-options" required style="
        width: 450px;
        height: 40px;
        border-radius: 5px;
        background-color: #FF84B1;
        border: 2px solid #FF84B1;
        color: #FFFFFF;
        font-size: 16px;
        padding: 5px;
        outline: none;
        cursor: pointer;">
            <option selected disabled style="color: gainsboro; background-color: white;"></option>
        </select>
    </div>    

    <div class="container"> 
        <button class="btn btn3" type="submit">UPDATE</button>
    </div>
</form>

<script>
    const studentId = '{{ student_id }}';
    const getStudent = async () => {
        try {
            const response = await fetch(`http://localhost:5000/student/${studentId}`);
            const json = await response.json();
            const data = json.message;

            const studentNameInput = document.querySelector('#student_name');
            studentNameInput.value = data.student_name;

            const courseDropdown = document.getElementById('course-options');
            const courseResponse = await fetch('http://localhost:5000/courses');
            const courseData = await courseResponse.json();
            const courses = courseData.Message;

            courses.forEach(course => {
                const option = document.createElement('option');
                option.value = course.course_id;
                option.textContent = course.course_name;
                if (data.course_name === course.course_name) {
                    option.selected = true;
                }
                courseDropdown.appendChild(option);
            });
        } catch (error) {
            console.error(error);
        }
    };
    
    getStudent();

    const updateStudent = async (event) => {
        event.preventDefault();
    
        const form = event.target;
        const formData = new FormData(form);
        const studentName = formData.get('student_name');

        const courseDropdown = document.getElementById('course-options');
        const studentCourse = courseDropdown.value;
    
        try {
            const response = await fetch(`http://localhost:5000/student/${studentId}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ student: studentName, course_id: studentCourse }),
            });
    
            const json = await response.json();
    
            if (response.ok) {
                form.reset();
                window.location.href = 'http://localhost:5001/students';
            }
            
        } catch (error) {
            console.error(error);
        }
    };
    
    const form = document.querySelector('#student-form');
    form.addEventListener('submit', updateStudent);
</script>

{% endblock %}  